header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 0px 30px 0px 30px;
    display: flex;
    justify-content: space-between;
    height: 56px;
    align-items: center;
    color: #fff;
    z-index: 999;
}
header img{
    width: 110px;
    height: fit-content;
}
header .box1{
    display: flex;
}
header .box1 .menu{
    padding: 4px 8px 4px 8px;
    margin: 0px 8px 0px 8px;
    font-size: 14px;
    font-weight: 500;
    transition: .3s;
    cursor: pointer;
}
header .box1 .menu:hover{
    background: #F2F2F2;
}
header .box2{
    font-size: 21px;
}
header .box2 a{
    margin: 0px 4px 0px 0px;
}
.main-container1{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #fff;
    z-index: 998;
    padding: 110px 170px 50px 170px;
    display: flex;
    transition: 1s;
    opacity: .8;
}
.main-container1 .container1{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    border-right: solid 1px #e5e5e5;
    padding-right: 60px;
}
.main-container1 .container1 .container-box{
    width: 22%;
    margin: 0% 1.5% 0% 1.5%;
}
.main-container1 .container1 .container-box img{
    width: 100%;
}
.main-container1 .container1 .container-box .box h1{
    font-size: 17px;
    font-weight: 600;
    color: #171a20;
    text-align: center;
}
.main-container1 .container1 .container-box .box .buttons{
    display: flex;
    justify-content: center;
}
.main-container1 .container1 .container-box .box .buttons a{
    font-size: 12px;
    text-align: center;
    color: #6f7072;
    font-weight: 500;
    text-decoration: underline;
    padding: 5px 10px 5px 10px;
}
.main-container1 .container2{
    width: 25%;
    padding-left: 60px;
}
.main-container1 .container2 .menu{
    font-weight: 500;
    margin: 12px 0px 12px 0px;
    font-size: 14px;
    color: #171a20;
    width: fit-content;
    border-bottom: 1px solid #fff;
    transition: .3s;
}
.main-container1 .container2 .menu:hover{
    border-bottom: 1px solid #171a20;
}


.main-container2{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #fff;
    z-index: 998;
    padding: 110px 170px 50px 170px;
    display: flex;
    transition: 1s;
    opacity: .8;
}
.main-container2 .container1{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    border-right: solid 1px #e5e5e5;
    padding-right: 60px;
}
.main-container2 .container1 .container-box{
    width: 22%;
    margin: 0% 1.5% 0% 1.5%;
}
.main-container2 .container1 .container-box img{
    width: 100%;
}
.main-container2 .container1 .container-box .box h1{
    font-size: 17px;
    font-weight: 600;
    color: #171a20;
    text-align: center;
}
.main-container2 .container1 .container-box .box .buttons{
    display: flex;
    justify-content: center;
}
.main-container2 .container1 .container-box .box .buttons a{
    font-size: 12px;
    text-align: center;
    color: #6f7072;
    font-weight: 500;
    text-decoration: underline;
}
.main-container2 .container1 .container-box .box .buttons a:first-child{
    position: relative;
    right: 5px;
}
.main-container2 .container1 .container-box .box .buttons a:last-child{
    position: relative;
    left: 5px;
}
.main-container2 .container2{
    width: 25%;
    padding-left: 60px;
}
.main-container2 .container2 .menu{
    font-weight: 500;
    margin: 12px 0px 12px 0px;
    font-size: 14px;
    color: #171a20;
    width: fit-content;
    border-bottom: 1px solid #fff;
    transition: .3s;
}
.main-container2 .container2 .menu:hover{
    border-bottom: 1px solid #171a20;
}


.main-container3{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #fff;
    z-index: 998;
    padding: 110px 320px 50px 320px;
    display: flex;
    transition: 1s;
    opacity: .8;
}
.main-container3 .container1{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    border-right: solid 1px #e5e5e5;
    padding-right: 60px;
}
.main-container3 .container1 .container-box{
    width: 30.33443%;
    margin: 0% 1.5% 0% 1.5%;
}
.main-container3 .container1 .container-box img{
    width: 100%;
}
.main-container3 .container1 .container-box .box h1{
    font-size: 17px;
    font-weight: 600;
    color: #171a20;
    text-align: center;
}
.main-container3 .container1 .container-box .box .buttons{
    display: flex;
    justify-content: center;
}
.main-container3 .container1 .container-box .box .buttons a{
    font-size: 12px;
    text-align: center;
    color: #6f7072;
    font-weight: 500;
    text-decoration: underline;
}
.main-container3 .container1 .container-box .box .buttons a:first-child{
    position: relative;
    right: 5px;
}
.main-container3 .container1 .container-box .box .buttons a:last-child{
    position: relative;
    left: 5px;
}
.main-container3 .container2{
    width: 25%;
    padding-left: 60px;
}
.main-container3 .container2 .menu{
    font-weight: 500;
    margin: 12px 0px 12px 0px;
    font-size: 14px;
    color: #171a20;
    width: fit-content;
    border-bottom: 1px solid #fff;
    transition: .3s;
}
.main-container3 .container2 .menu:hover{
    border-bottom: 1px solid #171a20;
}



.main-container4{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #fff;
    z-index: 998;
    padding: 110px 460px 50px 460px;
    display: flex;
    justify-content: space-between;
    transition: 1s;
    opacity: .8;
}
.main-container4 .box{
    width: 33.33%;
    font-size: 14px;
    font-weight: 500;
}
.main-container4 .box .title{
    font-weight: 300;
    font-size: 14px;
    color: #5c5e62;
    margin-bottom: 14px;
}
.main-container4 .box a p{
    margin-bottom: 12px;
    color: #171a20;
}


.main-container5{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #fff;
    z-index: 998;
    padding: 110px 340px 50px 340px;
    display: flex;
    justify-content: space-between;
    transition: 1s;
    opacity: .8;
}
.main-container5 .box{
    width: 20%;
    margin: 2.5%;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
}
.main-container5 .box img{
    width: 100%;
}